body{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	overflow-x: hidden;
}
.header{
	width:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    padding: 0;
    transition: 0.2s;
    box-sizing: border-box;
    z-index: 4;
}
.header__container{
    display: flex;
    max-width: 1000px;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.header__title__link{
	color:white;
	text-decoration: none;
	font-weight: normal;
	transition: 0.2s;
}
.header__list {
	display: flex;
    flex-direction: column;
}
.header__open-menu {
    position: absolute;
    right: 20px;
    top: 25px;
    height: 32px;
    width: 32px;
    background: url("images/nav-icon.png") transparent;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0;
    color: transparent;
}
.header__open-menu:focus{
	outline-color:#FDD835;
}
.header__nav {
    transition: height 0.5s ease-in-out;
    overflow: hidden;
    align-self: flex-start;
    margin-left: 50%;
    transform: translateX(-38px);
}
.header__open-menu[aria-expanded="true"] + .header__nav {
    height: 150px;
}
.header__open-menu[aria-expanded="false"] + .header__nav {
    height: 0;
    visibility: hidden;
}
.header__list{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.header__item{
    display: inline-block;
}
.header__link{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s;
    display: inline-block;
    padding: 5px 0;
}
.header__link:hover, .header__title__link:hover{
    color:#FDD835;
}
.home{
	min-height: 100vh;
	background-color:black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.home__title{
	text-align: center;
	color:#FDD835;
	font-size:60px;
	position: relative;
}
.home__link{
	text-decoration: none;
}
.home__subtitle{
	color:#fff;
	font-size:30px;
	text-align: center;
}
.about{
	background-color:#FDD835;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.about__title{
	width:100%;
	margin-top: 70px;
	padding:30px 0;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 60px;
	font-size: 40px;
	position: relative;
	text-align: center;
	z-index:3;
}
.about__title::before{
	content:'';
	height: 3px;
	background-color: black;
	position: absolute;
	z-index: -1;
	top:50%;
	left:15px;
	right:15px;
}
.about__title__span{
	display: inline-block;
	padding:0 5px;
	background-color:#FDD835;
}
.about__content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1000px;
	width:100%;
	margin:0 auto 100px auto;

}
.about__photo{
	max-width: 90%;
	width:480px;
	padding:10px;
	border-radius: 50%;
}
.about__text{
	color:white;
	font-size: 24px;
	margin:0;
	padding:15px;
	box-sizing: border-box;
	max-width: 500px;
	width:100%;
}
.skills{
	background-color: white;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}

.skills__title{
	width:100%;
	text-align: center;
	font-size: 40px;
	margin-top:70px;
	padding:30px 0;
	color:#FDD835;
	text-transform: uppercase;
	line-height: 60px;
	position: relative;
	z-index: 3;
}
.skills__title::before{
	content:'';
	height: 3px;
	background-color:#FDD835;
	position: absolute;
	z-index: -1;
	top:50%;
	left:15px;
	right:15px;
}
.skills__title__span{
	display: inline-block;
	padding:0 5px;
	background-color:white;
}
.skills__container{
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin-bottom: 100px;
}
.skills__list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding:0;
	list-style-type: none;	
	max-width: 600px;	
}
.skills__item{
	margin:15px;
}
.skills__image{
	transition: 0.2s;
	width: 150px;
	height: 150px;
}
.skills__description{
	margin:15px;
	font-size:24px;
}
.skills__item:hover{
	fill:#FDD835;
}
.projects{
	background-color:black;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.projects__title, .contact__title{
	text-align: center;
	width:100%;
	color:#fff;
	margin-top:70px;
	padding:30px 0;
	position: relative;
	text-transform: uppercase;
	z-index: 3;
	font-size: 40px;
}
.projects__title::before, .contact__title::before{
	content:'';
	height: 3px;
	background-color:#fff;
	position: absolute;
	z-index: -1;
	top:50%;
	left:15px;
	right:15px;
}
.projects__title__span{
	display: inline-block;
	padding:0 5px;
	background-color:black;
	z-index: 1;
}
.projects__list{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding:0;
}
.project__exapmle{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.projects__example__photo{
	margin:0 auto;
	max-width:768px;
	width:100vw;
}
.projects__example__text{
	margin:15px auto;
	padding: 0 15px;
}
.projects__example__title{
	color:#FDD835;
	font-size:30px;
	text-align: center;
	margin:0;
}	

.projects__example__description{
	color:#fff;
	font-size:20px;
	margin:0;
	text-align: center;
}
.contact{
	padding-top:10px;
	background:#FDD835;
}
.contact__title__span{
	display: inline-block;
	padding:0 5px;
	background-color:#FDD835;
	z-index: 1;	
}
.contact__content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;
}
.contact__subtitle{
	font-size: 30px;
	text-transform: uppercase;
	margin:0;
	padding:0;
}
.contact__list{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	align-items: center;
	justify-content: center;
	padding:0;
}
.contact__item{
	margin:15px;
	width:200px;
	height: 200px;
}
.contact__icon{
	transition: 0.3s;
}
.contact__icon:hover{
	fill:white;
}
.footer{
	background-color:#FDD835;
}
.footer__sign{
	width:100%;
	font-size:15px;
	padding:0;
	margin:0;
	line-height: 20px;
	text-align: center;

}
@media (min-width: 768px){
	body{
		background-color:white;
	}
	.header__container {
        flex-direction: row;
        padding: 0 20px;
    }
    .header__list {
        flex-direction: row;
    }
    .header__open-menu {
        display: none;
    }
    .header__open-menu[aria-expanded="true"] + .header__nav,
    .header__open-menu[aria-expanded="false"] + .header__nav {
        visibility: visible;
        height:auto;
    }
    .header__list__link {
        padding: 5px;
    }
    .header__nav {
        align-self: initial;
        margin-left: 0;
        transform: none;
    }
    .header__item{
    	margin:0 10px;
    }
    .about__content{
    	flex-direction: row;
    }
    .skills__container{
    	max-width: 1000px;
    	flex-direction: row;
    }
    .skills__description{
    	max-width: 400px;
    	min-height: 300px;
    }
    .skills__list{
    	margin:0;
    }
    .projects__example{
    	display: flex;
    	margin:30px;
    	padding:15px;
    	border:dashed 3px white;
    	align-items: center;
    }
    .reverse{
    	flex-direction: row-reverse;
    }
    .projects__example__text{
    	display: flex;
    	flex-direction: column;
    	max-width: 400px;
    }
	.projects__example__photo{
		max-width: 620px;
		width:50vw;
		margin: 0 10px;
	}
}
}
@media (min-width: 1000px){
	.projects__example__photo{
		max-width: 720px;
		width:50vw;
	}
}